body {
    margin: 0;
    overflow: hidden;
    background-color: green; /* Fondo verde */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh; /* Altura completa de la ventana */
}

h1 {
    color: white; /* Color del texto */
    position: absoute;
    margin-left: 200%; /* Posicionamiento absoluto */
    font-size: 3rem; /* Tamaño de fuente */
}
canvas {
    display: block;
}
